@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: "Outfit", sans-serif; // TITLE FONT
font-size: 3.75rem; // 60px; 

font-family: "Inter", sans-serif; // DESCRIPTION FONT
font-size: 1rem; // 16px;
*/

:root {
  --accent-color: #00ffff; /* BUTTON COLOR & TIMER COLOR */
  --answer-button-color: #d20094; /* HOVER ANSWER COLOR & onClick COLOR */
  --answer-count-color: #900080; /* number count color */
}

body {
  background: #0b0e27 url("./assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* // QUESTI li ho messi su background: riga 24
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
*/

.container {
  /* padding: 1.5rem 2.5rem; */
  width: 100%;
  max-width: 900px;
  padding: 40px;
}

.logo {
  max-width: 160px;
  margin-bottom: 50px;
}

/* WELCOME CONTENT PAGE */
.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 2.5rem 4rem; /*da rivedere come la reference se allineare il tutto o lasciarlo così*/
  max-width: 700px;
}

h1,
h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: 3.75rem;
  line-height: 0.8;
  font-weight: 300;
  margin-bottom: 30px;
}

.highlight-title {
  display: block;
  font-weight: 700;
}

.instructions h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--answer-button-color);
  margin-bottom: 10px;
}
.instructions p {
  font-size: 1rem;
  line-height: 1.5;
}

.rules {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  padding-left: 1.7rem;
  margin-top: 20px 0 50px;
  margin-bottom: 5rem;
}

.highlight {
  font-weight: 700;
  color: white;
}

.welcome-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 780px;
}

/* CUSTOM CHECKBOX */
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
}

/* .checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
} */
.checkbox-container input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-check {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: inline-block; /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  transition: all 0.2s ease;
}

/* .checkbox-container input[type="checkbox"]:checked + .custom-check{
   background: var(--accent-color);
   border-color: var(--accent-color);
} */
.checkbox-container input:checked ~ .custom-check {
  /* ~ guarda in readme.md */
  background-color: var(--accent-color); /* COLOR of BORDER on click */
  border-color: white; /* BORDER COLOR of CHECKBOX */
  box-shadow: 0 0 8px var(--accent-color); /* SHADOW COLOR */
}

/* BUTTONS */
button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#proceed-btn {
  padding: 0.938rem 2.813rem; /* 15px 45px */
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.btn-disabled {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

/* CSS per JS */
.btn-enabled {
  background: var(--accent-color);
  /* box-shadow:0 0 16px rgba(0, 255, 255, 0.45),
              0 0 40px rgba(0, 255, 255, 0.15) ; */
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  color: #0d1035;
}
.btn-enabled:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.9);
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .welcome-footer {
    flex-direction: column;
    align-items: center;
    min-width: unset;
    width: 100%;
    gap: 15px;
  }
}

/* QUIZ PAGE SECTION */
.exam-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-svg {
  position: absolute;
}

.timer-text {
  font-family:  "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

#timer-count {
   font-size: 4rem;
}