@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: "Outfit", sans-serif; // TITLE FONT
font-size: 3.75rem; // 60px; 

font-family: "Inter", sans-serif; // DESCRIPTION FONT
font-size: 1rem; // 16px;
*/

:root {
  --accent-color: #00ffff; /* BUTTON COLOR & TIMER COLOR */
  --answer-button-color: #d20094; /* HOVER ANSWER COLOR & onClick COLOR */
  --answer-count-color: #900080; /* number count color */
}

body {
  background: #0b0e27 url(./assets/bg.jpg) no-repeat center center fixed;
  /* background-repeat: no-repeat; // aggiunto su background: */
  /* background-position: center;  // aggiunto su background: */ 
  /* background-attachment: fixed; // aggiunto su background: */
  background-size: cover;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: white;
  /* display: flex; aggiunto da: PAULO */
  /* justify-content: center; aggiunto da: PAULO */
  /* align-items: center; aggiunto da: PAULO */
}

.container {
  width: 100%;
  padding: 2.5rem;
  max-width: 900px;
}

.header {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.logo {
   /* height: 36px;
   width: auto; */
   max-width: 160px;
   margin-bottom: 50px;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;                 
  padding: 2rem 2.5rem 4rem;
  max-width: 660px; 
}           

/* WELCOME SCREEN */
h1 {
  font-family: "Outfit", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}

.highlight-title {
  display: block;            
  font-weight: 700;
}
